*{
    margin: 0    ;
    padding: 0%;
    box-sizing: border-box;
}


header{
    background-color: #002277;
    color: #f8c400;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo{
    width: 200px;
    height: auto;
}

#navegacao{
    font-size: 15px;
    color:#f8c400;
     margin-top: 10px;
    
}
.menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.titulo-menu{
    display: flex;
    flex-direction: column;
}


.botão{
    background-color: #f8c400;
    color: #002277;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    margin-right: 10px;
    font-weight: bold;}

    #subtitulo{
        background-color: #f8c400;
        color: #002277;
        padding: 30px;
        font-size: 40px;
    }

    .jogadores{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f8c400;
    
}
.jogador{
    width: 250px;
    background-color:#f8c400(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.jogador img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    border: 4px solid #002277;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    
}

#fase{
    background-color: #009440;
     color: #ffffff;
        padding: 30px;
        font-size: 40px;
        text-align: center;

}

.container-jogos{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    background-color: #009440;
    
}

.jogo{
    background-color: #002277;
    color: white;
    width: 250px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.jogo img{
    width: 80px;
    height: 55px;
    object-fit: cover;
    border: 2px solid white;
}

.jogo span{
    font-size: 30px;
    font-weight: bold;
    margin: 0 10px;
}

.jogo p{
    margin-top: 15px;
}

.rodape{
    background-color:#009440;
     font-size: 15px;
    color:#f8c400;
     margin-top: 0;
       margin: 0;
    padding: 20px 0;
}

/* hexa */

#cabeçalho{
     background-image: url("https://i.pinimg.com/1200x/55/ee/90/55ee9066274ccdfdd1aa7577d5be437c.jpg");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 700px; 
    justify-content: center; 
    align-items: center; 
}

#titulobr{
     color:#002277;
     -webkit-text-stroke: 0.5px #f8c400;
    font-family: 'Bungee', cursive;
    font-size: 100px;
    padding: 30px;
    display: center;
    align-items: center;
    gap: 20px;

}

#subtitulobr{
    background-color: #002277;
    color: #f8c400;
     font-family: 'Bungee', cursive;
     font-size: 40px;
    padding: 30px;
    display: center;
    align-items: center;
    gap: 20px;
}

.caixa {
    width: 250px;
    padding: 20px;
    background-color:#f8c400;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    margin: 20px auto;
    text-align: center;
    
}
.imagem-caixa {
    width: 150px;
    height: 100px; 
}

.copas{
    background-color: #002277;
}

.escrita{
    font-family: 'Bungee', cursive;
    font-size: 20px;
    color: black;

}

.container{
    display: flex;
    justify-content: center;
    gap: 5px; /* espaço entre as caixas */
    flex-wrap: wrap; /* quebra linha se não couber */

}

#Esperança{
    background-color: #002277;
     color:#f8c400;
     font-family: 'Bungee', cursive;
    font-size: 40px;
      padding: 30px;
    display: center;
    align-items: center;
    gap: 20px;
     margin-top: 50px;
   
}

#hexa-textinho{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px;
    display: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 80px;
}

.imagem-final{
    width: 100%;
    height: 500px;
    background-image: url(https://i.pinimg.com/1200x/4f/d7/46/4fd7460df41bbeea58b39ed20c9934b8.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 80px; /* aumenta o espaço azul */


    
}