*{
    margin: 0    ;
    padding: 0%;
    box-sizing: border-box;
}


header{
    background-color: #002277;
    color: #f8c400;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo{
    width: 200px;
    height: auto;
}

#navegacao{
    font-size: 15px;
    color:#f8c400;
     margin-top: 10px;
    
}
.menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.titulo-menu{
    display: flex;
    flex-direction: column;
}


.botão{
    background-color: #f8c400;
    color: #002277;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    margin-right: 10px;
    font-weight: bold;}

    #subtitulo{
        background-color: #f8c400;
        color: #002277;
        padding: 30px;
        font-size: 40px;
    }

    .jogadores{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f8c400;
    
}
.jogador{
    width: 250px;
    background-color:#f8c400(255, 255, 255);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.jogador img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    border: 4px solid #002277;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    
}

#fase{
    background-color: #009440;
     color: #ffffff;
        padding: 30px;
        font-size: 40px;
        text-align: center;

}

.container-jogos{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    background-color: #009440;
    
}

.jogo{
    background-color: #002277;
    color: white;
    width: 250px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.jogo img{
    width: 80px;
    height: 55px;
    object-fit: cover;
    border: 2px solid white;
}

.jogo span{
    font-size: 30px;
    font-weight: bold;
    margin: 0 10px;
}

.jogo p{
    margin-top: 15px;
}

.rodape{
    background-color:#009440;
     font-size: 15px;
    color:#f8c400;
     margin-top: 0;
       margin: 0;
    padding: 20px 0;
}




